In [102]:
import pandas as pd
import matplotlib.pyplot as plt

# 파일 불러오기
# 사용하는 환경에 따라 주석처리 해서 사용
df = pd.read_csv("C:/Users/user/ai_job/ai_job_market.csv") # 주피터 용
# df = pd.read_csv("/content/ai_job_market.csv") # 코랩 용

# 전처리
'''
컬럼 지정, salary_range_usd "-" 뒤의 값 삭제, posted_date 날짜 삭제, location ','앞의 값 삭제(도시 제거),
skills_required, tools_preferred 리스트 화, experience_level, employment_type, company_size 코드 지정
'''
# 사용할 컬럼 지정
use_cols = (['industry', 'job_title', 'skills_required',
       'experience_level', 'employment_type', 'location', 'salary_range_usd',
       'posted_date', 'company_size', 'tools_preferred'])
df = df[use_cols].copy()

# salary_range_usd "-" 뒤의 값 삭제 - 앞의 숫자 초봉이라 가정
df['salary_range_usd'] = df['salary_range_usd'].str.replace('-[^-]*$', '', regex=True)

# posted_date 날짜 삭제
df['posted_date'] = df['posted_date'].str.replace('-[^-]*$', '', regex=True)

# location ','앞의 값 삭제(도시 제거)
df['location'] = df['location'].str.replace('.*,', '', regex=True)

# skills_required 리스트 화
df['skills_required'] = (
    df['skills_required']
    .dropna()       # 결측치 제거
    .apply(lambda x: [skill.strip() for skill in x.split(',')])  # 공백 제거 후 리스트화
)

# tools_preferred 리스트 화
df['tools_preferred'] = (
    df['tools_preferred']
    .dropna()       # 결측치 제거
    .apply(lambda x: [skill.strip() for skill in x.split(',')])  # 공백 제거 후 리스트화
)

# experience_level 코드화 {신입(Entry): 0, 경력(Mid): 1, 시니어(Senior): 3}
df["experience_level"] = df["experience_level"].map({"Entry": 0, "Mid": 1, 'Senior': 2})

# employment_type 코드화 {계약직(Contract): 0, 원격직원?(Remote): 1, 인턴십(Internship): 2, , 정규직(Full-time): 3}
df["employment_type"] = df["employment_type"].map({"Contract": 0, "Remote": 1, 'Internship': 2, 'Full-time': 3})

# company_size 코드화 {스타트업(Startup): 0, 중소기업(Mid): 1, 대기업(Large): 2}
df["company_size"] = df["company_size"].map({"Startup": 0, "Mid": 1, 'Large': 2})
'''
코드 소개
experience_level
신입(Entry): 0, 경력(Mid): 1, 시니어(Senior): 3

employment_type
계약직(Contract): 0, 원격직원?(Remote): 1, 인턴십(Internship): 2, , 정규직(Full-time): 3

company_size
스타트업(Startup): 0, 중소기업(Mid): 1, 대기업(Large): 2
'''


df

,industry,job_title,skills_required,experience_level,employment_type,location,salary_range_usd,posted_date,company_size,tools_preferred
0,Healthcare,Data Analyst,"[NumPy, Reinforcement Learning, PyTorch, Sciki...",1,3,AR,92860,2025-08,2,"[KDB+, LangChain]"
1,Tech,Computer Vision Engineer,"[Scikit-learn, CUDA, SQL, Pandas]",2,3,CU,78523,2024-03,2,"[FastAPI, KDB+, TensorFlow]"
2,Tech,Quant Researcher,"[MLflow, FastAPI, Azure, PyTorch, SQL, GCP]",0,3,CM,124496,2025-09,2,"[BigQuery, PyTorch, Scikit-learn]"
3,Tech,AI Product Manager,"[Scikit-learn, C++, Pandas, LangChain, AWS, R]",1,3,FI,50908,2024-05,2,"[TensorFlow, BigQuery, MLflow]"
4,Finance,Data Scientist,"[Excel, Keras, SQL, Hugging Face]",2,0,NE,98694,2025-02,2,"[PyTorch, LangChain]"
...,...,...,...,...,...,...,...,...,...,...
1995,Finance,NLP Engineer,"[Flask, FastAPI, Power BI]",2,2,SD,90382,2024-04,2,[MLflow]
1996,Automotive,AI Product Manager,"[R, Flask, Excel, C++, CUDA, Scikit-learn]",1,1,ZA,47848,2023-12,2,"[KDB+, LangChain, MLflow]"
1997,Education,Data Analyst,"[Hugging Face, Excel, Scikit-learn, R, MLflow]",0,0,CG,134994,2023-10,2,[PyTorch]
1998,Education,Quant Researcher,"[AWS, Python, Scikit-learn]",2,0,OM,62388,2024-08,2,"[MLflow, TensorFlow, FastAPI]"
1999,Finance,Quant Researcher,"[Flask, TensorFlow, Power BI]",2,3,NE,55835,2025-02,0,[MLflow]

In [101]:
df['company_size']

0         Large
1         Large
2         Large
3         Large
4         Large
         ...
1995      Large
1996      Large
1997      Large
1998      Large
1999    Startup
Name: company_size, Length: 2000, dtype: object

In [92]:
# 전처리
'''
컬럼 지정, salary_range_usd "-" 뒤의 값 삭제, posted_date 날짜 삭제, location ','앞의 값 삭제(도시 제거),
skills_required, tools_preferred 리스트 화, experience_level, employment_type, company_size 코드 지정
'''
# 사용할 컬럼 지정
use_cols = (['industry', 'job_title', 'skills_required',
       'experience_level', 'employment_type', 'location', 'salary_range_usd',
       'posted_date', 'company_size', 'tools_preferred'])
df = df[use_cols].copy()

# salary_range_usd "-" 뒤의 값 삭제 - 앞의 숫자 초봉이라 가정
df['salary_range_usd'] = df['salary_range_usd'].str.replace('-[^-]*$', '', regex=True)

# posted_date 날짜 삭제
df['posted_date'] = df['posted_date'].str.replace('-[^-]*$', '', regex=True)

# location ','앞의 값 삭제(도시 제거)
df['location'] = df['location'].str.replace('.*,', '', regex=True)

# skills_required 리스트 화
df['skills_required'] = (
    df['skills_required']
    .dropna()       # 결측치 제거
    .apply(lambda x: [skill.strip() for skill in x.split(',')])  # 공백 제거 후 리스트화
)

# tools_preferred 리스트 화
df['tools_preferred'] = (
    df['tools_preferred']
    .dropna()       # 결측치 제거
    .apply(lambda x: [skill.strip() for skill in x.split(',')])  # 공백 제거 후 리스트화
)

# experience_level 코드화
df["experience_level"] = df["Entry"].map({"male": 0, "female": 1})


df

,industry,job_title,skills_required,experience_level,employment_type,location,salary_range_usd,posted_date,company_size,tools_preferred
0,Healthcare,Data Analyst,"[NumPy, Reinforcement Learning, PyTorch, Sciki...",Mid,Full-time,AR,92860,2025-08,Large,"[KDB+, LangChain]"
1,Tech,Computer Vision Engineer,"[Scikit-learn, CUDA, SQL, Pandas]",Senior,Full-time,CU,78523,2024-03,Large,"[FastAPI, KDB+, TensorFlow]"
2,Tech,Quant Researcher,"[MLflow, FastAPI, Azure, PyTorch, SQL, GCP]",Entry,Full-time,CM,124496,2025-09,Large,"[BigQuery, PyTorch, Scikit-learn]"
3,Tech,AI Product Manager,"[Scikit-learn, C++, Pandas, LangChain, AWS, R]",Mid,Full-time,FI,50908,2024-05,Large,"[TensorFlow, BigQuery, MLflow]"
4,Finance,Data Scientist,"[Excel, Keras, SQL, Hugging Face]",Senior,Contract,NE,98694,2025-02,Large,"[PyTorch, LangChain]"
...,...,...,...,...,...,...,...,...,...,...
1995,Finance,NLP Engineer,"[Flask, FastAPI, Power BI]",Senior,Internship,SD,90382,2024-04,Large,[MLflow]
1996,Automotive,AI Product Manager,"[R, Flask, Excel, C++, CUDA, Scikit-learn]",Mid,Remote,ZA,47848,2023-12,Large,"[KDB+, LangChain, MLflow]"
1997,Education,Data Analyst,"[Hugging Face, Excel, Scikit-learn, R, MLflow]",Entry,Contract,CG,134994,2023-10,Large,[PyTorch]
1998,Education,Quant Researcher,"[AWS, Python, Scikit-learn]",Senior,Contract,OM,62388,2024-08,Large,"[MLflow, TensorFlow, FastAPI]"
1999,Finance,Quant Researcher,"[Flask, TensorFlow, Power BI]",Senior,Full-time,NE,55835,2025-02,Startup,[MLflow]